# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv
.env

# Hugging Face cache
.cache/
~/.cache/
~/.cache/huggingface
~/.cache/datasets

# Docker
Dockerfile*
docker-compose.yml

# Logs
logs/
*.log

# OS
.DS_Store
