env
.env
data
data/raw/tweet_eval_sentiment
data/raw/youtube-comment-sentiment
data/processed/

# Cache Hugging Face
.cache/
__pycache__/
models
huggingface_cache

# File di test e temporanei
*.log
*.pt
*.bin
*.pkl
*.zip
.huggingface/