services:
  data-prep:
    build:
      context: ./data_prep     
      dockerfile: Dockerfile.dataprep
    container_name: data-prep
    environment:
     BASE_DIR: "/app"
     HF_HOME: /app/huggingface_cache
    command: >
      sh -c "
        python src/download_data.py /app/data/raw &&
        python src/data_preparation.py tweet_eval --output_dir /app/data/processed &&
        python src/data_preparation.py youtube --output_dir /app/data/processed
      "
    volumes:
      - ./data:/app/data
      - ./models:/app/models
      - ./reports:/app/reports
      - ./huggingface_cache:/app/huggingface_cache

  monitoring:
    build:
      context: ./monitoring    
      dockerfile: Dockerfile.monitoring
    container_name: monitoring
    environment:
      BASE_DIR: "/app"
      HF_TOKEN: "${HF_TOKEN}"
      HF_HOME: /app/huggingface_cache
    volumes:
      - ./data:/app/data
      - ./models:/app/models
      - ./reports:/app/reports
      - ./huggingface_cache:/app/huggingface_cache
    ports:
      - "8000:8000"
    command: >
      sh -c "
        echo 'Attendo dataset...'
        while [ ! -d /app/data/processed/tweet_eval_tokenized ]; do
            sleep 2;
        done
        python src/monitoring.py
      "

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    depends_on:
      - monitoring

  grafana:
    image: grafana/grafana-enterprise
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    depends_on:
      - prometheus

  app:
    build:
      context: ./app           
      dockerfile: Dockerfile
    container_name: sentiment-app
    ports:
      - "5000:8000"
    env_file:
      - .env
    environment:
      HF_TOKEN: "${HF_TOKEN}"
      ADMIN_API_KEY: "${ADMIN_API_KEY}"
      SKIP_DATA_PREP: "1"
      BASE_DIR: "/app"
      HF_HOME: /app/huggingface_cache
    volumes:
      - ./data:/app/data
      - ./models:/app/models
      - ./reports:/app/reports
      - ./app_templates:/app/app_templates
      - ./huggingface_cache:/app/huggingface_cache
    command: >
      sh -c "
        echo '[App] Attendo dataset...';
        while [ ! -d /app/data/processed/tweet_eval_tokenized ]; do
            sleep 2;
        done
        echo '[App] Dataset pronto, avvio FastAPI';
        uvicorn src.app:app --host 0.0.0.0 --port 8000
      "

volumes:
  prometheus-data:
  grafana-data:
